<div class="music" id="musicImage" onclick="music()">
	<audio id="musicId" ng-src="{{trustUrl(card.music)}}" autoplay="autoplay">
	</audio>
</div>

<div class="menu" style="background-color: {{card.menuColor}};">
	<ul>
		<li>
			<a href="tel:{{card.personPhone.name}}">
				<div><img src="http://image.mymicrocard.com/images/menu1.png" alt="" width="22" height="22" /></div>
				<span>一键拨号</span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0);" onclick="show('codeBg2')">
				<img src="http://image.mymicrocard.com/images/menu2.png" alt="" width="22" height="22" />
				<span>存到手机</span>
			</a>
		</li>
		<li>
			<a href="http://apis.map.qq.com/tools/poimarker?type=0&marker=coord:{{card.companyAddress.value}};title:{{card.companyName.name}};addr:{{card.companyAddress.name}}&key=OB4BZ-D4W3U-B7VVO-4PJWW-6TKDJ-WPB77&referer=myapp">
				<img src="http://image.mymicrocard.com/images/menu3.png" alt="" width="22" height="22" />
				<span>一键导航</span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0)">
				<img src="http://image.mymicrocard.com/images/menu4.png" alt="" width="22" height="22" />
				<span>推荐记录</span>
			</a>
		</li>
	</ul>
</div>
<div class="layBg" id="layBg" style="display: none;">
	<!--透明背景-->
</div>
<div class="codeBg" id="codeBg2" style="display: none;">
	<div class="codeImg">
		<div class="close" onclick="closeIt('codeBg2')">
			<img src="http://image.mymicrocard.com/images/close.png"  width="22" height="22" />
		</div>
		<div class="codeText">长按二维码识别关注微信</div>
		<div style="text-align: center;">
			<img ng-if="card.wechat.code != ''" ng-src="http://image.mymicrocard.com/{{card.wechat.code}}" style="width: 160px; height: 160px;">
		</div>
	</div>
</div>
<div class="codeBg" id="codeBg1" style="display: none;">
	<div class="codeImg">
		<div class="close" onclick="closeIt('codeBg1')">
			<img src="http://image.mymicrocard.com/images/close.png"  width="22" height="22" />
		</div>
		<div class="codeText">长按二维码识别关注QQ</div>
		<div style="text-align: center;">
			<img ng-if="card.QQ.code != ''" ng-src="http://image.mymicrocard.com/{{card.QQ.code}}" style="width: 160px; height: 160px;">
		</div>
	</div>
</div>