<div class="top" id="top1" style="height: {{topHeight}}px; 
background: url('/uploads/{{phone}}/{{otherFiles[3].value}}') no-repeat; 
background-size: 100% {{topImgHeight}}px;
position: relative;">

	<div class="music" id="musicImage" onclick="music()">
		<audio id="musicId" ng-src="{{trustUrl(otherFiles[4].value)}}" autoplay="autoplay">
		</audio>
	</div>
	<div ng-bind-html="text | to_trusted"></div>

	<div ng-repeat="info in topFiles">
		<div ng-if="checkImage(info.src)">
			<img ng-if="info.src == '默认头像.jpg'" ng-src="/images/pImage.jpg" ng-style="info.style" ng-mousedown="dragable($event, info)" />
			<img ng-if="info.src != '默认头像.jpg'" ng-src="/uploads/{{phone}}/{{info.src}}" ng-style="info.style" ng-mousedown="dragable($event, info)" />
		</div>
		<div ng-if="checkVideo(info.src)">
			<video type="video/mp4" ng-src="{{trustUrl(info.src)}}" autoplay="autoplay" ng-style="info.style" ng-mousedown="dragable($event, info)" controls="controls">
			</video>
		</div>
	</div>

	<div ng-repeat="info in topInfos">
		<div ng-style="info.style" ng-mousedown="dragable($event, info)">{{info.value}}</div>
	</div>
</div>